<html>
  <head>
    <title>管理画面</title>
    <meta http-equiv="Content-Tyep" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="static/css/pallet.css">
  </head>
  <body>
    <h1>管理画面</h1>
    <p><a href="/">トップに戻る</a></p>
    <h2>画像アップロード</h2>
    <ul>
      <li>
        <form action="/upload" method="post" enctype="multipart/form-data">
          ベース画像
          <input type="file" name="photo" accept="image/*;capture=camera" multiple>
          <input type="submit" value="この画像をベースにする">
        </form>
      </li>
      <li>
        <form action="/addpallet" method="post" enctype="multipart/form-data">
          ピース画像
          <input type="file" name="photo" accept="image/*;capture=camera" multiple>
          <input type="submit" value="この画像をピースにする">
        </form>
      </li>
      <li>
        <form action="/colorcheck" method="post" enctype="multipart/form-data">
          画像の色あい確認
          <input type="file" name="photo" accept="image/*;capture=camera" multiple>
          <input type="submit" value="この画像の色あいを確認する">
        </form>
      </li>
    </ul>
    {% if others %}
    <h3>{{ others['name'] }}の色合い</h3>
    <div style="background-color:rgb({{ others['color'][0] }},{{ others['color'][1] }},{{ others['color'][2] }});width:200px;height:200px;float:left;"></div>
    <p>この色合いは、現在{{ others['hashnum'] }}枚あります。</p>
    <div style='clear:both'></div>
    {% endif %}

    <h2>カラーパレット</h2>
    {% for data in datas %}
    <div class='contain'>
      <div class='pallet' style='background-color:rgb({{ data[0] }},{{ data[1] }},{{ data[2] }});'></div>
      {{ data[0] }},{{ data[1] }},{{ data[2] }} <br>
      num:{{ data[3] }}
      <div class='bar' style='background-color:black;height:{{ 0+data[3] }}px'></div>
    </div>
    {% endfor %}
  </body>
</html>
